* {margin: 0; padding: 0; border: 0; outline: 0;}

body {
	/* font-family: Helvetica, Arial, Verdana, sans-serif; */
  font-family: Consolas, Monaco, monospace;
	background-color:#E8E9E9;
  font-size: 14px;
}

h1 { font-size: 14px; font-weight: normal; margin: 32px 0 4px 0; }
p { margin-top: 13px; }
a { text-decoration: none; color: #0799AD; }
a:hover { text-decoration: underline; }

hr.thin {
  float: left;
  height: 1px;
  border: 0;
  color: #000000;
  background-color: #000000;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
} 

#container {
  width: 100%;
  max-width: 888px;
  min-width: 600px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
	padding: 0;
}

#header {
	position: absolute;
	height: 56px;
	z-index: 1000;
	width: 100%;
	max-width: 888px;
	min-width: 600px;
	background: #E8E9E9;
}

#topbar {
  height: 8px;
  background-color: #000;
  margin: 0 0 20px 0;
}

p#title { float: left; margin: 4px 0 4px 0; }

ul#nav {
  float: right;
  list-style: none;
  overflow: hidden;
  margin: 4px 0 4px 0;
}
ul#nav li { float: left; }
ul#nav li:nth-child(1) { margin: 0 30px 0 0; }
ul#nav li:nth-child(2) { margin: 0 30px 0 0; }
ul#nav li:nth-child(3) { margin: 0 30px 0 0; }
ul#nav li:nth-child(4) { margin: 0; }

/* Active menu entry */
.active {
	color: #000;
}

#fixedimg {
  float: right;
  margin-top: 8px;
}

/* Section container */

.section {
	width: 100%;
	z-index: 10;
	position: relative;
}

.inner {
	position: relative;
	padding: 2px 0;
}

.clear {
	clear: both;
}

/* Sections */

.sAbout {
  top: 56px;
	background: #E8E9E9;
	padding:0 0 40px 0;
	
}

.sPublications {
	background: #E8E9E9;
}

#bottombar {
  height: 8px;
  background-color: #000;
  margin: 24px 0 0 0;
}

.sPubItem {
  clear: both;
}

.sPubItem ul {
  padding-left: 20px;
}

.sPubItem li {
  clear: both;
  padding-bottom: 20px;
}

.sPubSum {
  padding-left: 20px;
  color: #606060;
  /*font-size: 13px;*/
  float: none;
}

.sPubText {
  width: 70%;
  float: left;
  padding-bottom: 20px;
}

.sPubImg {
  width: 28%;
  float: right;
  padding-bottom: 20px;
}

